In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [5]:
df=pd.read_csv("zoo (1).csv")
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [6]:
df

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [7]:
 class_type_output=df["class_type"]
 df=df.drop("class_type", axis=1).drop("animal_name", axis=1)
 print(df)

     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0       1         0     0     1         0        0         1        1
1       1         0     0     1         0        0         0        1
2       0         0     1     0         0        1         1        1
3       1         0     0     1         0        0         1        1
4       1         0     0     1         0        0         1        1
..    ...       ...   ...   ...       ...      ...       ...      ...
96      1         0     0     1         0        0         0        1
97      1         0     1     0         1        0         0        0
98      1         0     0     1         0        0         1        1
99      0         0     1     0         0        0         0        0
100     0         1     1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0           1         1         0     0     4     0         0        1
1           1         1         0     0     4     1         0        1
2           1         0         0     1     0     1         0        0
3           1         1         0     0     4     0         0        1
4           1         1         0     0     4     1         0        1
..        ...       ...       ...   ...   ...   ...       ...      ...
96          1         1         0     0     2     1         0        1
97          0         1         1     0     6     0         0        0
98          1         1         0     0     4     1         0        1
99          0         1         0     0     0     0         0        0
100         1         1         0     0     2     1         0        0

[101 rows x 16 columns]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(df, class_type_output,test_size=0.20)